<html ng-app>
  <head>
    <link rel="stylesheet" href="css/app.css">
  </head>
  
  <body ng-controller="QuizCtrl"> 
    <div class="quizCaixa">  
      <form name="quizform">

        <div class="pergunta">
          {{quiz[perguntaAtual].pergunta}}
        </div>

        <div class="opcao" ng-repeat="r in quiz[perguntaAtual].respostas" ng-class="{selecionada: quiz[perguntaAtual].selecionada == $index}" ng-click="atualizaOpcao($index)">
          {{r.resposta}}
        </div>

        <button ng-click="proximaPergunta()" ng-class="{selecionada: quiz[perguntaAtual].selecionada == $index}" >proxima</button>

      </form>
      </div>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>