body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: cyan;
}

.quizCaixa  {
  position: relative;
  top: 100px;
  width: 700px;
  max-height: 700px;
  margin: auto;
}

button {
  cursor: pointer;
}

.opcao {
  max-width: 500px;
  max-height: 100px;
  border: 1px solid black;
  margin: 0 20px 20px 0;
  cursor: pointer;
}

.selecionada {
  background-color: ddd;
}

.pergunta {
  margin-bottom: 10px;
}